<div id="openrefine">
  <h3>OpenRefine</h3>
  <p>
      Für diesen Workshop benötigst du die Software <em>OpenRefine</em> sowie einen Webbrowser.  
      <em>Hinweis:</em> OpenRefine ist ein Java-Programm, das lokal in deinem Webbrowser ausgeführt wird – es läuft also nicht auf einem Server.  
      Obwohl die Anwendung im Browser läuft, ist keine Internetverbindung erforderlich.  
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-os="windows" href="#openrefine-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
        <li role="presentation"><a data-os="macos" href="#openrefine-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
        <li role="presentation"><a data-os="linux" href="#openrefine-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

        <div class="tab-content">
          <article role="tabpanel" class="tab-pane active" id="openrefine-windows">
              <ol>
                  <li>
                      Stelle sicher, dass du entweder den Firefox- oder Chrome-Browser installiert und als Standardbrowser festgelegt hast.
                      <strong>OpenRefine läuft in deinem Standardbrowser.</strong>
                      Es funktioniert nicht richtig mit Internet Explorer.
                  </li>
                  <li>Lade die Software von <a href="http://openrefine.org/">http://openrefine.org/</a> herunter.</li>
                  <li>Erstelle ein neues Verzeichnis namens OpenRefine.</li>
                  <li>Entpacke die heruntergeladene Datei im neuen Verzeichnis, indem du mit der rechten Maustaste klickst und "Extrahieren ..." auswählst.</li>
                  <li>Wechsle in das neu erstellte OpenRefine-Verzeichnis.</li>
                  <li>Starte OpenRefine, indem du auf <code>openrefine.exe</code> klickst (es öffnet sich ein Eingabeaufforderungsfenster, das du ignorieren kannst – warte einfach, bis OpenRefine im Browser startet).</li>
                  <li>Falls du einen anderen Browser verwendest oder OpenRefine nicht automatisch geöffnet wird, rufe in deinem Browser <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> oder <a href="http://localhost:3333">http://localhost:3333</a> auf, um das Programm zu nutzen.</li>
              </ol>
          </article>
          <article role="tabpanel" class="tab-pane" id="openrefine-macos">
              <ol>
                  <li>Stelle sicher, dass du entweder den Firefox- oder Chrome-Browser installiert und als Standardbrowser festgelegt hast. <strong>OpenRefine läuft in deinem Standardbrowser.</strong> Es funktioniert möglicherweise nicht richtig mit Safari.</li>
                  <li>Lade die Software von <a href="http://openrefine.org/">http://openrefine.org/</a> herunter.</li>
                  <li>Nun hast du eine DMG Datei, die du durch Doppelklicken öffnest.</li>
                  <li>Es erscheint ein neues Fenster: Ziehe dort das OpenRefine-Symbol in den Programme-Ordner.</li>
                  <li>Starte nun OpenRefine, indem auf das OpenRefine-Symbol im Programme-Ordner klickst. Es sollte sich jetzt ein Browserfenster mit der Benutzeroberfläche von OpenRefine öffnen. <em>Hinweis:</em> Falls du eine Fehlermeldung "OpenRefine cannot be opened because the developer cannot be verified" erhältst, kannst den Anweisungen auf <a href="https://support.apple.com/de-de/guide/mac-help/mh40616/mac">dieser Seite</a> folgen, um OpenRefine dennoch zu öffnen.</li>
                  <li>Falls du einen anderen Browser verwendest oder OpenRefine nicht automatisch geöffnet wird, rufe in deinem Browser <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> oder <a href="http://localhost:3333">http://localhost:3333</a> auf, um das Programm zu nutzen.</li>
              </ol>
          </article>
          <article role="tabpanel" class="tab-pane" id="openrefine-linux">
              <ol>
                  <li>Stelle sicher, dass du entweder den Firefox- oder Chrome-Browser installiert und als Standardbrowser festgelegt hast. <strong>OpenRefine läuft in deinem Standardbrowser.</strong></li>
                  <li>Lade die Software von <a href="http://openrefine.org/">http://openrefine.org/</a> herunter.</li>
                  <li>Erstelle ein Verzeichnis namens OpenRefine.</li>
                  <li>Entpacke die heruntergeladene Datei in das OpenRefine-Verzeichnis.</li>
                  <li>Wechsle in das neu erstellte OpenRefine-Verzeichnis.</li>
                  <li>Starte OpenRefine, indem du im Terminal innerhalb des OpenRefine-Verzeichnisses <code>./refine</code> eingibst.</li>
                  <li>Falls du einen anderen Browser verwendest oder OpenRefine nicht automatisch geöffnet wird, rufe in deinem Browser <a href="http://127.0.0.1:3333/">http://127.0.0.1:3333/</a> oder <a href="http://localhost:3333">http://localhost:3333</a> auf, um das Programm zu nutzen.</li>
              </ol>
          </article>
      </div>
  </div>

</div>

<div id="rdf-transform">
  <h3>OpenRefine-Erweiterung RDF Transform</h3>
  <p>
    Die OpenRefine-Erweiterung RDF Transform ermöglicht es, Daten aus dem CSV-Format in das RDF-Format zu überführen, ohne dass Programmierkenntnisse erforderlich sind.
    Nachdem du OpenRefine erfolgreich installiert hast, kannst du die Erweiterung RDF Transform als ZIP-Datei <a href="https://github.com/AtesComp/rdf-transform/releases/download/v2.2.4/rdf-transform-2.2.4.zip">hier</a> herunterladen.
  </p>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rdf-transform-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rdf-transform-mac" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rdf-transform-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rdf-transform-windows">
        <ol>
          <li>Entpacke die ZIP-Datei.</li>
          <li>Verschiebe den entpackten Ordner `rdf-transform` in ein Verzeichnis mit dem Namen `extensions` innerhalb deines OpenRefine-Arbeitsbereichs. <em>Hinweis:</em> Du kannst den Pfad zu Deinem OpenRefine-Arbeitsbereich finden,
             indem Du OpenRefine startest und in der Seitenleiste auf "Open Project“ klickst. 
            Klicke anschließend am unteren Rand des Bildschirms auf „Browse workspace directory“. 
            Es sollte sich ein Finder-Fenster mit dem Pfad <code>C:/Documents and Settings/user/ApplicationData/OpenRefine</code> OR <code>C:/Documents and Settings/user/Local Settings/Application Data/OpenRefine</code> öffnen.</li>
          <li>Beende und starte OpenRefine neu.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="rdf-transform-macos">
        <ol>
          <li>Entpacke die ZIP-Datei.</li>
          <li>Verschiebe den entpackten Ordner `rdf-transform` in ein Verzeichnis mit dem Namen `extensions` innerhalb deines OpenRefine-Arbeitsbereichs. <em>Hinweis:</em> Du kannst den Pfad zu Deinem OpenRefine-Arbeitsbereich finden,
             indem Du OpenRefine startest und in der Seitenleiste auf "Open Project“ klickst. 
            Klicke anschließend am unteren Rand des Bildschirms auf „Browse workspace directory“. 
            Es sollte sich ein Finder-Fenster mit dem Pfad <code>~/Library/Application Support/OpenRefine</code> öffnen.</li>
          <li>Beende und starte OpenRefine neu.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="rdf-transform-linux">
        <ol>
          <li>Entpacke die ZIP-Datei.</li>
          <li>Verschiebe den entpackten Ordner `rdf-transform` in ein Verzeichnis mit dem Namen `extensions` innerhalb deines OpenRefine-Arbeitsbereichs. <em>Hinweis:</em> Du kannst den Pfad zu Deinem OpenRefine-Arbeitsbereich finden,
             indem Du OpenRefine startest und in der Seitenleiste auf "Open Project“ klickst. 
            Klicke anschließend am unteren Rand des Bildschirms auf „Browse workspace directory“. 
            Es sollte sich ein Finder-Fenster mit dem Pfad <code>~/.local/share/OpenRefine</code> öffnen.</li>
          <li>Beende und starte OpenRefine neu.</li>
        </ol>
      </article>
    </div>
  </div>

</div>