
<h3 id="videoconferencing">Installiere den Videokonferenz-Client</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Wenn du Zoom noch nicht verwendet hast, besuche die
  <a href="https://zoom.us/download">offizielle Website</a>
  um Zoom auf deinem Computer herunterzuladen und zu installieren.
</p>


<h4>Richte deinen Arbeitsplatz ein</h4>

<p>
  Wie in anderen Carpentry-Workshops, lernst Du, indem Du mit den Instructoren "mitprogrammierst". 
  Dazu muss sowohl das Fenster für das Tool, das Du lernen wirst (ein Terminal, RStudio, Dein Webbrowser, etc.) und das Fenster 
  für den Zoom-Videokonferenz-Client geöffnet sein. Damit Du beides gleichzeitig sehen kannst, 
  empfehlen wir, eine der folgenden Einstellungsoptionen zu verwenden: 
  <ul>
    <li><strong>Zwei Monitore:</strong> Wenn Du zwei Monitore hast, nutze diese am besten 
      verbunden an einem einzigen Gerät, damit Du bei Fehlern auch Deinen Bildschirm teilen kannst.</li>
    <li><strong>Zwei Geräte</strong> Wenn du nicht über zwei Monitore verfügst,
      hast du vielleicht ein anderes Gerät (Tablet, Smartphone) mit einem mittleren bis großen
      großen Bildschirm? Wenn ja, versuche, das kleinere Gerät für Deine
      Videokonferenzverbindung und Dein größeres Gerät (Laptop oder Desktop) für das
      zu lernende Tool zu verwenden.</li>
    <li><strong>Bildschirm aufteilen: </strong> Wenn Du nur ein Gerät und einen Bildschirm hast, probiere zwischen den zwei Fenstern 
      (das Videokonferenzprogramm und eines der Tools, die du im Workshop verwenden wirst während des Workshops) zu wechseln 
      oder die Fenster nebeneinander offen zu halten. 
      Probiere es vorher aus, um zu entscheiden, was für Dich am besten funktioniert.</li>
  </ul>
  Dieser <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">Blogbeitrag</a> enthält ausführliche Informationen darüber, wie Du Deinen Bildschirm so einrichten kannst, sodass Du den Workshop-Inhalten gut folgen kannst. 
</p>
